<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" ,type="text/css" , href="../static/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
  <title>Horizon Zero Dawn</title>
</head>

<body background = "../static/mario1.jpg">
  <header>
    <div class="pageHeading">
      <h2>KAMIKAZE'S SHOP</h2>
    </div>
    <div class="navBar">
      <a class="active">
        <a href= "/">About Kamikaze</a>
        <a href="guestbook">Guestbook</a>
        {%if session['logged in'] == True %}
        <a href="logout">Logout</a>
        {%else%}
        <a href="login">Login</a>
        <a href="signup"> Sign Up</a>
        {% endif %}
        
      </a>
    </div>
  </header>
  <content>
      <div id="hzpolaroid2">
          <img src="../static/HZ1.jpg" id="hz" style="width:100%">
          <div class="hzcontainer2">
            <p>Horizon Zero Dawn</p>
          </div>
        </div>
        <div id="hzinfo2">
          <h3><b>Horizon Zero Dawn – Most interesting and enjoyable game played.</b></h3>
          <p>Horizon Zero Dawn is an action role-playing game developed by Guerrilla Games and published by Sony
            Interactive Entertainment.<br> It was released for the PlayStation 4 in early 2017. <br>The plot follows Aloy,
            a hunter in a world overrun by machines, who sets out to uncover her past. <br>The player uses ranged weapons,
            a spear, and stealth to combat mechanical creatures and other enemy forces.<br> A skill tree provides the
            player with new abilities and bonuses.<br> The player can explore the open world to discover locations and
            take on side quests.<br>
            <br>Game Critic ratings:<br>
            <b>IGN – 9.3/10.</b><br>
            <b>GamesRadar – 4.5/5.<b><br>
                <b>Trusted Reviews – 4.5/5.<b>
      
      
          </p>
        </div>
        <br>
        <h3 class = "rev">Review Horizon Zero Dawn</h3>
        {% block content %}
        {%if session['logged in'] == True%}
        <form action = "{{url_for('sign3')}}" method=post>
            <dl>
                
                
                <dt class = "comm1">Comment
                <dd class = "comm2"><input type=text name=comment>
                <dd><input type=submit value=Submit class = "submit">
              </dl>
        </form>
        {%else%}
        <p style = "color:red"> You need to <a href = "login">login to post comments!!</a></p>
        {%endif%}
        {% endblock %}
      </div>
      
         {% for entry in entries %}
         
  
  <div class="card">
    <div class="card-details">
      <h2 class="card-head">User Comment</h2>
      <div class = "comments">
      <p class = "user"> {{entry[0]}}<br> {{ entry[1]}} </p>    
    </div>
  </div>
     </div>
         {% endfor %}
  
  </content>
</body>

</html>